<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
     <li>
      <form action="{% url 'admin:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
        </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'admin:login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'blog:index' %}">Blog</a></li>

</ul>
