{% extends "base.html" %}

{% block content %}
<div class="post-container">
<h3><b>{{post.title}}</b></h3>
<h6> {{post.owner}} <i>at {{post.created_time}}</i> </h6>
<p>{{post.content}}</p>
</div>

<hr style="margin: 40px 0;">
<p><b>{{ post.commentary_set.count }} comments</b></p>
    <div class="post-comments-list">
        {% for comment in post.commentary_set.all %}
            <div class="comment-it" >
               <h6> <strong>{{ comment.user }}</strong>  {{comment.created_time}}</h6>

                <p>{{ comment.content }}</p>
            </div>
        {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}
    </div>

{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add comment</button>
    </form>
{% else %}
    <p>Тільки авторизовані користувачі можуть залишати коментарі.</p>
{% endif %}

<a href="{{ request.META.HTTP_REFERER|default:''}}" class="btn btn-secondary">Return</a>
{% endblock %}
